.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 1.125px;
}

li {
  font-size: 1.2rem;
}

.rl_navbar1_menu-button {
  padding: 0;
}

.rl_navbar1_button {
  color: #fff;
  text-align: center;
  background-color: #0d00ff;
  border: 0 solid #000;
  border-radius: 5px;
  margin-top: 0;
  padding: 1rem 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_button-secondary {
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.rl_navbar1_dropdown-link {
  color: #000;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_dropdown-link.w--current {
  color: #000;
}

.rl_navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.rl-dropdown-icon {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.rl_navbar1_dropdown-toggle {
  color: #000;
  padding: .5rem 2.5rem .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_link {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_link.w--current {
  color: #000;
}

.rl_navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.rl_navbar1_logo-link {
  padding-left: 0;
}

.rl_navbar1_container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rl_navbar1_component {
  z-index: 99;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  background-color: #000;
  border-bottom: 1px solid #000;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.rl-button-secondary {
  color: #000;
  text-align: center;
  background-color: #0004ff;
  border: 0 solid #1e00ff;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl-button {
  color: #fff;
  text-align: center;
  background-color: #0400ff;
  border: 0 solid #000;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl-button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_heading1_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15rem;
  padding-right: 15rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_heading1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h1 {
  color: #fff;
  border: 0 solid #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  display: block;
}

.rl_header1_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: block;
}

.rl-padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global {
  background-color: #111233;
  padding-left: 5%;
  padding-right: 5%;
}

.rl_section_header1 {
  background-color: #fff;
}

.rl-button-link-icon {
  width: 1rem;
  height: 1rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl-button-link-text {
  color: #fff;
}

.rl-button-link {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl_layout242_spacing-block-4 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-regular {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout242_spacing-block-3 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h5 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl_layout242_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout242_icon {
  width: 3rem;
  height: 3rem;
}

.rl_layout242_item {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.rl_layout242_content {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.rl_layout242_spacing-block-1 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-heading-style-h3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout242_heading-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl_layout242_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl_section_layout242 {
  background-color: #fff;
}

.rl_testimonial1_name-text {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_testimonial1_spacing-block-2 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_testimonial1_client-image {
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
  object-fit: cover;
  border-radius: 100%;
}

.rl_testimonial1_spacing-block-1 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_testimonial1_text-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl_testimonial1_logo {
  max-height: 3.5rem;
}

.rl_testimonial1_component {
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl_section_testimonial1 {
  background-color: #fff;
}

.rl_footer4_legal-link {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

.rl_footer4_credit-text {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_footer4_bottom-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.rl_footer4_spacing-block2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_footer4_line-divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.rl_footer4_spacing-block1 {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0);
  padding-bottom: 5rem;
}

.rl-social-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.rl_footer4_social-link {
  color: #000;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.rl_footer4_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: start;
  justify-items: start;
  display: flex;
}

.rl_footer4_link {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
}

.rl_footer4_link-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.rl_footer4_logo-link {
  padding-left: 0;
}

.rl_footer4_top-wrapper {
  grid-column-gap: 4vw;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.rl-padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rl_footer4_component {
  background-color: #fff;
}

.rl_header44_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_header44_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h1-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_header44_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_header44_component {
  width: 100%;
  max-width: 48rem;
}

.rl_section_header44 {
  background-color: #fff;
}

.rl-button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl_layout1_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_layout1_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_layout1_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl_section_layout1 {
  background-color: #fff;
}

.div-block {
  background-image: linear-gradient(#000, #344054);
}

.rl-text-style-regular-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_faq6_answer-wrapper {
  margin-bottom: 1.5rem;
}

.rl_faq6_answer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

.rl_faq6_icon {
  width: 2rem;
  height: 2rem;
  color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_faq6_icon-wrapper {
  align-self: flex-start;
}

.rl_faq6_question-text {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}

.rl_faq6_question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  display: flex;
}

.rl_faq6_accordion {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.rl_faq6_list-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: start;
  justify-items: stretch;
  display: grid;
}

.rl-button-2 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl-button-2.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
}

.rl_faq6_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium-2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_faq6_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2-2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_faq6_component {
  max-width: 940px;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl-padding-section-large-2 {
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 7rem;
  display: flex;
}

.rl-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-2 {
  background-color: #344054;
  margin-top: 0;
  padding: 7rem 5%;
}

.rl_section_faq6 {
  background-color: #fff;
}

.rl-button-link-icon-2 {
  width: 1rem;
  height: 1rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl-button-link-text-2 {
  color: #fff;
}

.rl-button-link-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl-button-group-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl_layout250_spacing-block-4 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-regular-3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout250_spacing-block-3 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h5-2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl_layout250_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_home4-features_image-wrapper {
  width: 100%;
  position: relative;
}

.rl_layout250_item {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.rl_layout250_content {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.rl_layout250_spacing-block-1 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-heading-style-h3-2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout250_heading-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl_layout250_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl_section_layout250 {
  background-color: #fff;
}

.rl_header1_image-2 {
  border-radius: 100%;
  padding-top: 2rem;
}

.rl-button-secondary-2 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.rl_heading1_spacing-block-2-2 {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.rl-text-style-medium-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_heading1_spacing-block-1-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h1-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_header1_component-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl-padding-global-3 {
  background-image: linear-gradient(#fff, #fff);
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.rl_section_header1-2 {
  background-color: #fff;
}

.div-block-2 {
  background-color: #000;
}

.div-block-3 {
  background-image: linear-gradient(#344054, #000);
}

.youtube {
  padding-left: 0;
  padding-right: 0;
}

.rl-button-link-icon-3 {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_layout242_spacing-block-4-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-regular-4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout242_spacing-block-3-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h5-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl_layout242_spacing-block-2-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout242_icon-2 {
  width: 3rem;
  height: 3rem;
}

.rl_layout242_item-2 {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.rl_layout242_content-2 {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.rl_layout242_spacing-block-1-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-heading-style-h3-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout242_heading-wrapper-2 {
  width: 100%;
  max-width: 48rem;
}

.rl_layout242_component-2 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl-padding-section-large-3 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl_section_layout242-2 {
  background-color: #fff;
}

.modal {
  z-index: 999;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
}

.modal-bg {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, .15);
  display: block;
  position: relative;
}

.modal-container {
  z-index: 9999;
  width: 100%;
  height: 100%;
  max-height: 35rem;
  max-width: 35rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
}

.heading {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block {
  font-size: 28px;
  text-decoration: none;
}

.close-text {
  font-size: 3rem;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  bottom: auto;
  left: auto;
  right: 1rem;
  transform: rotate(45deg);
}

.link-block {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.rl-button-link-icon-4 {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl-button-link-3 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl-button-secondary-3 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl-button-group-center {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_layout237_spacing-block-6 {
  width: 100%;
  padding-bottom: 4rem;
}

.rl-text-style-regular-5 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout237_spacing-block-5 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.rl_layout237_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout237_icon {
  width: 3rem;
  height: 3rem;
}

.rl_layout237_item {
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl_layout237_content {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
}

.rl_layout237_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-text-style-medium-4 {
  color: #000;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout237_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout237_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_layout237_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rl_layout237_component-copy {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-padding-section-large-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.rl-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-4 {
  background-color: #344054;
  padding-left: 5%;
  padding-right: 5%;
}

.rl_section_layout237 {
  background-color: #fff;
}

.list-item {
  font-size: 1.125rem;
  list-style-type: square;
}

.list-item-2, .list-item-3 {
  font-size: 1.125rem;
}

.rl-button-3 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
}

.rl_pricing11_spacing-block-8 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_pricing11_icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl_pricing11_feature-icon-wrapper {
  color: #000;
  flex: none;
  align-self: flex-start;
}

.rl_pricing11_feature {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.rl_pricing11_feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}

.rl_pricing11_spacing-block-7 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_pricing11_spacing-block-6 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_pricing11_divider {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.rl_pricing11_spacing-block-5 {
  width: 100%;
  padding-bottom: .5rem;
}

.rl-heading-style-h1-4 {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
}

.rl_pricing11_spacing-block-4 {
  width: 100%;
  padding-bottom: .5rem;
}

.rl-heading-style-h6 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl_pricing11_plan-icon {
  width: 3rem;
  height: 3rem;
}

.rl_pricing11_icon-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.rl_pricing11_content-top {
  flex-direction: column;
}

.rl_pricing11_content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.rl_pricing11_plan {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  padding: 2rem 2rem 2rem 1.2rem;
  display: block;
}

.rl_pricing11_plans {
  width: 100%;
  max-width: 35rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rl_pricing11_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_pricing11_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_pricing11_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_pricing11_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_pricing11_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.rl_section_pricing11 {
  background-color: #fff;
}

.features-table {
  background-color: #344054;
  border-bottom: 0 solid #e4ebf3;
  padding: 4rem 30px 7rem;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.comparison-table {
  flex-direction: column;
  margin-top: 50px;
  display: flex;
}

.comparison-row-main {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.comparison-title {
  margin-bottom: 0;
  margin-left: 24px;
}

.comparison-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.comparison-negative {
  color: #fff;
  background-image: none;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  margin-left: 24px;
  padding-left: 40px;
}

.comparison-2 {
  background-image: url('../images/checkbox-check-svgrepo-com.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: .5rem;
  margin-left: 24px;
  padding-bottom: 0;
  padding-left: 40px;
  font-size: 18px;
}

.rl_header62_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium-5 {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_header62_spacing-block-2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  display: flex;
}

.rl_header62_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_header62_component {
  text-align: center;
}

.rl-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.rl_section_header62 {
  background-color: #fff;
}

.text-span {
  color: #f3b008;
}

.text-block-2 {
  background-image: url('../images/icon.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: .5rem;
  margin-left: 24px;
  padding-left: 40px;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .rl_menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_menu-icon {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_navbar1_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .rl_navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .rl_navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .rl_navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .rl_navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .rl-dropdown-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .rl_navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .rl_navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .rl_navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .rl_navbar1_menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .rl_navbar1_menu.is-page-height-tablet {
    height: 100vh;
    padding-bottom: 15rem;
  }

  .rl_navbar1_container {
    justify-content: center;
  }

  .rl-text-style-medium {
    padding-left: 2rem;
    padding-right: 4rem;
  }

  .rl-heading-style-h1 {
    font-size: 3.25rem;
  }

  .rl_header1_component {
    min-height: auto;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .rl-padding-section-large {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .rl_layout242_content {
    grid-column-gap: 2rem;
  }

  .rl_layout242_spacing-block-1 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h3 {
    font-size: 2.25rem;
  }

  .rl_footer4_spacing-block1 {
    padding-bottom: 4.5rem;
  }

  .rl_footer4_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }

  .rl-padding-section-medium {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h1-2 {
    font-size: 3.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl_layout1_component {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .rl_faq6_component {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .rl-padding-global-2 {
    padding-top: 0;
    padding-bottom: 4rem;
  }

  .rl_layout250_content {
    grid-column-gap: 2rem;
  }

  .rl_layout250_spacing-block-1 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h3-2 {
    font-size: 2.25rem;
  }

  .rl-heading-style-h1-3 {
    font-size: 3.25rem;
  }

  .rl_header1_component-2 {
    min-height: auto;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .rl_layout242_content-2 {
    grid-column-gap: 2rem;
  }

  .rl_layout242_spacing-block-1-2 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h3-3 {
    font-size: 2.25rem;
  }

  .rl-padding-section-large-3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 3.5rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.75rem;
  }

  .rl_layout237_content {
    grid-column-gap: 2rem;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2-3 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large-4 {
    padding-top: 0;
    padding-bottom: 6rem;
  }

  .rl-heading-style-h1-4 {
    padding-top: 0;
    font-size: 3.25rem;
  }

  .rl_pricing11_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .features-table {
    padding-top: 2rem;
  }

  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .rl_navbar1_logo-link {
    padding-left: 0;
  }

  .rl_navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .rl_heading1_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_heading1_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h1 {
    font-size: 3rem;
  }

  .rl_header1_component {
    grid-row-gap: 3rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_layout242_spacing-block-4 {
    padding-bottom: 1.5rem;
  }

  .rl_layout242_spacing-block-3 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h5 {
    font-size: 1.25rem;
  }

  .rl_layout242_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout242_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout242_spacing-block-1 {
    padding-bottom: 3rem;
  }

  .rl-heading-style-h3 {
    font-size: 2rem;
  }

  .rl_testimonial1_spacing-block-2 {
    padding-bottom: .75rem;
  }

  .rl_testimonial1_spacing-block-1 {
    padding-bottom: 1.5rem;
  }

  .rl_footer4_credit-text {
    margin-top: 1rem;
  }

  .rl_footer4_bottom-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .rl_footer4_spacing-block2 {
    padding-bottom: 1.5rem;
  }

  .rl_footer4_spacing-block1 {
    padding-bottom: 3rem;
  }

  .rl_footer4_link-list {
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
    grid-auto-flow: row;
    justify-items: center;
  }

  .rl-padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .rl_header44_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_header44_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h1-2 {
    font-size: 2.5rem;
  }

  .rl_header44_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl_layout1_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_layout1_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl_layout1_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl_layout1_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_faq6_answer-wrapper {
    margin-bottom: 1.25rem;
  }

  .rl_faq6_answer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .rl_faq6_icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .rl_faq6_icon-wrapper {
    width: 1.75rem;
  }

  .rl_faq6_question-text {
    font-size: 1rem;
  }

  .rl_faq6_question {
    padding: 1rem 1.25rem;
  }

  .rl_faq6_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-2 {
    font-size: 1rem;
  }

  .rl_faq6_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.25rem;
  }

  .rl_faq6_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_layout250_spacing-block-4 {
    padding-bottom: 1.5rem;
  }

  .rl_layout250_spacing-block-3 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h5-2 {
    font-size: 1.25rem;
  }

  .rl_layout250_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl_layout250_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout250_spacing-block-1 {
    padding-bottom: 3rem;
  }

  .rl-heading-style-h3-2 {
    font-size: 2rem;
  }

  .rl_heading1_spacing-block-2-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-3 {
    font-size: 1rem;
  }

  .rl_heading1_spacing-block-1-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h1-3 {
    font-size: 2.5rem;
  }

  .rl_header1_component-2 {
    grid-row-gap: 3rem;
  }

  .rl_layout242_spacing-block-4-2 {
    padding-bottom: 1.5rem;
  }

  .rl_layout242_spacing-block-3-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h5-3 {
    font-size: 1.25rem;
  }

  .rl_layout242_spacing-block-2-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout242_content-2 {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout242_spacing-block-1-2 {
    padding-bottom: 3rem;
  }

  .rl-heading-style-h3-3 {
    font-size: 2rem;
  }

  .rl-padding-section-large-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .modal-container {
    max-height: 25rem;
    max-width: 25rem;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 2.5rem;
  }

  .rl_layout237_spacing-block-5 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_layout237_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_layout237_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl-text-style-medium-4 {
    font-size: 1rem;
  }

  .rl_layout237_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2-3 {
    font-size: 2.25rem;
  }

  .rl_layout237_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl-padding-section-large-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_pricing11_spacing-block-8 {
    padding-bottom: 1.5rem;
  }

  .rl_pricing11_spacing-block-7 {
    padding-bottom: 1.25rem;
  }

  .rl_pricing11_spacing-block-6 {
    padding-bottom: 1.5rem;
  }

  .rl-heading-style-h1-4 {
    font-size: 2.5rem;
  }

  .rl-heading-style-h6 {
    font-size: 1.125rem;
  }

  .rl_pricing11_plan {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .rl_pricing11_plans {
    grid-template-columns: 1fr;
  }

  .rl_pricing11_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_pricing11_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_pricing11_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .features-table {
    padding: 60px 15px;
  }

  .rl_header62_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-5 {
    font-size: 1rem;
  }

  .rl_header62_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_header62_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .text-block-2 {
    background-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .rl_navbar1_button {
    width: 100%;
  }

  .rl_navbar1_container {
    justify-content: center;
  }

  .rl-text-style-medium {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rl_header1_component {
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large {
    padding-top: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rl_layout242_content {
    grid-template-columns: 1fr;
  }

  .rl_footer4_bottom-wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .rl_layout1_component {
    grid-template-columns: 1fr;
  }

  .rl_faq6_answer, .rl_faq6_question {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rl_faq6_component {
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-2 {
    padding: 4rem 0;
  }

  .rl-padding-global-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .rl_layout250_content {
    grid-template-columns: 1fr;
  }

  .rl-button-secondary-2 {
    width: 100%;
  }

  .rl-heading-style-h1-3 {
    font-size: 3rem;
  }

  .rl_header1_component-2 {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rl-padding-global-3 {
    border-radius: 0;
    padding-left: .25rem;
    padding-right: .25rem;
  }

  .rl_layout242_content-2 {
    grid-template-columns: 1fr;
  }

  .modal-container {
    max-height: 100%;
    max-width: 100%;
  }

  .rl_layout237_content {
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .list-item, .list-item-2, .list-item-3 {
    font-size: 1rem;
  }

  .rl-heading-style-h1-4 {
    margin-left: .25rem;
    margin-right: .25rem;
    padding-left: 0;
    padding-right: 0;
  }

  .features-table {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .comparison-row-main {
    grid-column-gap: 20px;
  }

  .comparison-title {
    margin-left: 10px;
  }

  .comparison-row {
    grid-column-gap: 20px;
  }

  .comparison-negative {
    background-position: 0 5px;
    background-size: 14px;
    margin-left: 10px;
    padding-left: 20px;
  }

  .comparison-2 {
    background-position: 0 4px;
    background-size: 16px;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 14px;
  }

  .text-block-2 {
    background-size: 20px;
    margin-left: 0;
    padding-left: 34px;
  }
}

#w-node-_736aef00-94f9-9cef-c134-a212d70407e1-7dc98f3e, #w-node-_55cb2615-c495-48bf-f55f-59796cd2c218-7dc98f3e, #w-node-_2632265c-1442-7515-68bc-cd25c16429fe-7dc98f3e, #w-node-_2632265c-1442-7515-68bc-cd25c1642a00-7dc98f3e, #w-node-_50e79a4a-b08c-bcf5-12c7-aed75bb5c57b-7dc98f3e, #w-node-_50e79a4a-b08c-bcf5-12c7-aed75bb5c57d-7dc98f3e, #w-node-_2e52b376-ce2d-79e8-8b39-1a5fb7df7e63-7dc98f3e, #w-node-_2e52b376-ce2d-79e8-8b39-1a5fb7df7e65-7dc98f3e, #w-node-_88acc326-004e-fb87-b0a7-8b2db273528a-7dc98f3e, #w-node-_88acc326-004e-fb87-b0a7-8b2db273528c-7dc98f3e, #w-node-_5245e0ac-fcae-ab51-b787-e7df6de69e6d-7dc98f3e, #w-node-_5245e0ac-fcae-ab51-b787-e7df6de69e6f-7dc98f3e, #w-node-_4e7e8665-e969-6a29-3069-0449d1072116-7dc98f3e, #w-node-_5aca9b71-42d1-08ce-d68a-b3860ef8943c-7dc98f3e, #w-node-_1fb3a6b8-cc9b-beb5-e4b0-c40067a370c3-7dc98f3e, #w-node-_5a84a139-5344-7736-a8aa-3b9e1f1732fc-7dc98f3e, #w-node-_3ff1e4b3-268a-46bd-e19a-7641286e8974-7dc98f3e, #w-node-_92aeb081-54ed-0edb-e92d-2d6161ecce13-7dc98f3e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_35dc130a-794d-8127-ed26-dba0c5af5682-7dc98f3e {
  justify-self: start;
}

#w-node-_35dc130a-794d-8127-ed26-dba0c5af568f-7dc98f3e {
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_35dc130a-794d-8127-ed26-dba0c5af5682-7dc98f3e, #w-node-_35dc130a-794d-8127-ed26-dba0c5af568f-7dc98f3e {
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_35dc130a-794d-8127-ed26-dba0c5af569e-7dc98f3e {
    grid-area: 4 / 1 / 5 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_35dc130a-794d-8127-ed26-dba0c5af5682-7dc98f3e {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
