<div class="cta">
  <div class="cta-body">
  <h2>ABOUT MARK</h2>
  <p>I am a Chicago-based professional marketer with experience partnering with corporations, professional services firms, non-profits, and small business to achieve growth and engagement goals and boost client value. My experience is specialized in content and digital marketing strategy, SEO, branding, website development, CRM, and analytics. In December 2020, I will complete my MBA from the University of Illinois at Urbana-Champaign.</p>
  <p>This blog was created to provide practical solutions for technical marketing challenges. I want to help marketers, entrepreneurs, business owners, and business professionals fully optimize and leverage their marketing strategies.</p>

  <form action="{{ site.baseurl }}/about/">
      <input type="submit" value="Read More" />
  </form>


  </div>
</div>
