<div class="constrain">
   <h1>The best of the rest</h1> 
   <section class="card-list">
           {% for post in site.posts offset:1 %}
           <div class="card">
             <h2>{{ post.title }}</h2>      
             <img src="{{ site.baseurl }}/{{ post.image }}" />
                   <div class="card-details">
                   
                     
                             <p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </p>
                     
               <a href="{{ post.url | relative_url }}" class="btn">Read More</a>
                   </div>
               </div>
           {% endfor %}
          
   </section>
</div>
