<div class="constrain">
   <section class="card-list">
    
     <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        
        {% if post.image %}
          <a href="{{ post.url | relative_url }}">
            <img width="100%" src="{{ site.baseurl }}/{{ post.image }}" alt=post."{{ post.image-alt }}">
          </a>
        {% endif %}   
        <p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </p>
        
      </li>
      {%- endfor -%}
          
   </section>
</div>
