<div class="row-full">

  <div class="cta-body">
  <h1 class="homepage-heading1">Latest from the Blog</h1>ma
    <div class="rect1">
  {% for post in site.posts limit:6 %}

              <a href="{{ site.baseurl }}{{ post.url }}">
                  <div class="rel1">
                      <img src="{{ site.baseurl }}/{{ post.image }}" alt="post.image-alt">
                      <h5 class="relh1">{{ post.title }}</h5>
                  </div>
              </a>
      {% endfor %}
    </div>

  <form action="{{ site.baseurl }}/blog/">
    <input type="submit" value="View Full Blog" />
  </form>
  </div>

</div>
