<div class="row-full">

  <div class="cta-body">
  <h1 class="homepage-heading1">WANT TO BECOME A BETTER MARKETER?</h1>
    <p>This blog was created to provide 		practical solutions for technical 	marketing challenges. I want to help marketers, entrepreneurs, business owners, and business professionals fully optimize and leverage their marketing strategies.</p>

    <div class="rect1">
      <h2> Latest Posts </h2>
  {% for post in site.posts limit:3 %}

              <a href="{{ site.baseurl }}{{ post.url }}">
                  <div class="rel">
                      <img src="{{ site.baseurl }}/{{ post.image }}" alt="post.image-alt">
                      <h5 class="relh1">{{ post.title }}</h5>
                  </div>
              </a>
      {% endfor %}
    </div>

  <form action="{{ site.baseurl }}/blog/">
    <input type="submit" value="View Blog" />
  </form>
  </div>

</div>
