{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- Twitter cards -->
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.desciption }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
{% endif %}
<!-- end of Twitter cards -->

<script type=”application/ld+json”>

{“@context” : “http://schema.org”,

“@type” : “Organization”,

“name” : “Mark Fleming Blog”,

“url” : “https://markdfleming.com”,

“sameAs” : [ “social media profile link”,

"https://www.facebook.com/markflemingblog",

“https://www.linkedin.com/in/markdfleming/”,

“https://www.instagram.com/markdfleming/”]

}

</script>
