<div class="row-full">
  <div class="cta-body">
<p>Looking for something particular? Search the site:</p>

<form action="{{ site.baseurl }}/search/" method="get">
    <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search" /></p>
    <button type="submit" value="Submit">Search</button>
</form>
</div>
</div>

<style>
    #lunrsearchresults {padding-top: 0.2rem;}
    .lunrsearchresult {padding-bottom: 1rem;}
    .lunrsearchresult .title {color: #003399;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}

    /* Style the search field */
    form.example input[type=text] {
      width: 95%;
      padding: 12px;
      border: 1px solid #ABB0B2;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }

    /* Style the submit button */
    form.example button {
      clear:both;
      background-color: #aaa;
      border: 0 none;
      border-radius:4px;
      transition: all 0.23s ease-in-out 0s;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-size:15px;
      font-weight: normal;
      height: 32px;
      line-height: 32px;
      margin: 0 5px 10px 0;
      padding: 0 22px;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      white-space: nowrap;
      width: auto;

    }

    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }

</style>
